
<header class="header navbar fixed-top navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand logo" href="/">
            <img src="/img/flowcon_logo.png" alt="FlowCon" width="160" height="28"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headernav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-align-justify"></span>
        </button>

        <div class="collapse navbar-collapse flex-sm-row-reverse" id="headernav">
            <ul class="nav navbar-nav menu">
                <li class="nav-item">
                    <a class="nav-link" href="/location">
                        {{ .Params.map }}<i style="margin-left: 5px" class="fa fa-map-marker" aria-hidden="true"></i>
                    </a>
                </li>
                {{ range sort .Site.Params.menu "weight" }}
                <li class="nav-item">
                    <a class="nav-link" href="{{ .url }}" {{ if .target }} target="{{ .target }}" {{ end }}>
                        {{ .name }}
                    </a>
                </li>
                {{ end }}
                <li class="nav-item">
                    <a class="nav-link" href="/#contact">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.flowcon.fr">
                        FR
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
