<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>
    <div class="loader">
        <div class="loader-outter"></div>
        <div class="loader-inner"></div>
    </div>

    {{ partial "header.html" . }}

    <!--cover section slider -->
    <section id="home" class="home-cover">
        <div class="cover_slider owl-carousel owl-theme">
            <div class="cover_item" style="background: url('/img/bg/slider1.jpg');">
                <div class="slider_content">
                    <div class="slider-content-inner">
                        <div class="container">
                            <div class="slider-content-center">
                                <h2 class="cover-title">
                                    <!--Prepare yourself for-->
                                </h2>
                                <strong class="cover-xl-text">FlowCon</br>France</strong>
                                <p class="cover-date">
                                    12-13 {{ .Params.december }} 2019
                                </p>
                                <a href="https://www.weezevent.com/flowcon-2019" class=" btn btn-primary btn-rounded">
                                    {{ .Params.buy }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cover_item" style="background: url('/img/bg/slider2.jpg');">
                <div class="slider_content">
                    <div class="slider-content-inner">
                        <div class="container">
                            <div class="slider-content-center">
                                <h2 class="cover-title">
                                    <!--Prepare yourself for-->
                                </h2>
                                <strong class="cover-xl-text">FlowCon</br>France</strong>
                                <p class="cover-date">
                                    12-13 {{ .Params.december }} 2019
                                </p>
                                <a href="https://www.weezevent.com/flowcon-2019" class=" btn btn-primary btn-rounded">
                                    {{ .Params.buy }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cover_item" style="background: url('/img/bg/slider3.jpg');">
                <div class="slider_content">
                    <div class="slider-content-inner">
                        <div class="container">
                            <div class="slider-content-center">
                                <h2 class="cover-title">
                                    <!--Prepare yourself for-->
                                </h2>
                                <strong class="cover-xl-text">FlowCon</br>France</strong>
                                <p class="cover-date">
                                    12-13 {{ .Params.december }} 2019
                                </p>
                                <a href="https://www.weezevent.com/flowcon-2019" class=" btn btn-primary btn-rounded">
                                    {{ .Params.buy }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cover_nav">
            <ul class="cover_dots">
                <li class="active" data="0"><span>1</span></li>
                <li data="1"><span>2</span></li>
                <li data="2"><span>3</span></li>
            </ul>
        </div>
    </section>
    <!--cover section slider end -->

    <!--event info -->
    <section class="pt10 pb50">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-8 col-md-3  ">
                    <div class="icon_box_two">
                        <i class="fa fa-bell" aria-hidden="true"></i>
                        <div class="content">
                            <h5 class="box_title">
                                DATE
                            </h5>
                            <p>
                                12-13 Dec 2019
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-8 col-md-3  ">
                    <div class="icon_box_two">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <div class="content">
                            <h5 class="box_title">
                                {{ .Params.location }}
                            </h5>
                            <p>
                                <a href="/location">Close to Paris</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-8 col-md-3  ">
                    <div class="icon_box_two">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <div class="content">
                            <h5 class="box_title">
                                {{ .Params.program }}
                            </h5>
                            <p>
                                <a href="https://flowcon19.sched.com/">On sched</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-8 col-md-3">
                    <div class="icon_box_two">
                        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                        <div class="content">
                            <h5 class="box_title">
                                CfP
                            </h5>
                            <p>
                                <a href="https://www.papercall.io/flowcon2019">On papercall</a>
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!--event info end -->


    <!--event countdown -->
    <section class="bg-img pt70 pb70" style="background-image: url('/img/bg/counter-bg.jpg');">
        <div class="overlay_dark"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10">
                    <h4 class="mb30 text-center color-light">Starting in</h4>
                    <div class="countdown"></div>
                </div>
            </div>
        </div>
    </section>
    <!--event count down end-->


    <!--about the event -->
    {{ with .Site.GetPage "/about" }}{{ .Content }}{{ end }}
    <!--about the event end -->


    <!--previously -->
    <a class="anchor" id="previously"></a>
    <section class="pt50 pb50">
        <div class="container">
            <div class="section_title">
                <h3 class="title">
                    {{ .Params.previous_editions }}
                </h3>
            </div>
            <div class="row justify-content-left mt30">
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="https://www.infoq.com/fr/flowcon" target="_blank">
                        <div class="icon_box_one">
                            <i class="fa fa-video-camera"></i>
                            <div class="content">
                                <h4>InfoQ</h4>
                                <p>{{ .Params.previous_editions_videos }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="https://flowcon.sched.com/" target="_blank">
                        <div class="icon_box_one">
                            <i class="fa fa-calendar"></i>
                            <div class="content">
                                <h4>2018</h4>
                                <p>{{ .Params.previous_editions_content }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!--previously end -->

    <!--Price section-->
    <a class="anchor" id="tickets"></a>
    <section class="pt50">
        <div class="container">
            <div class="section_title mb50">
                <h3 class="title">
                    Tickets
                </h3>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-4 col-12">
                    <div class="price_box sold_out">
                        <div class="price_highlight">
                            sold out
                        </div>
                        <div class="price_header">
                            <h4>
                                Early Bird
                            </h4>
                        </div>
                        <div class="price_tag">
                            300 <sup>€</sup>
                        </div>
                        <div class="price_footer">
                            <a href="https://www.weezevent.com/flowcon-2019"
                                class="btn btn-dark btn-rounded btn-disabled">Sold Out</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="price_box sold_out">
                        <div class="price_highlight">
                            sold out
                        </div>
                        <div class="price_header">
                            <h4>
                                Standard
                            </h4>
                        </div>
                        <div class="price_tag">
                            450 <sup>€</sup>
                        </div>
                        <div class="price_features">
                        </div>
                        <div class="price_footer">
                            <a href="https://www.weezevent.com/flowcon-2019"
                                class="btn btn-dark btn-rounded btn-disabled">Sold Out</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="price_box active">
                        <div class="price_header">
                            <h4>
                                Late bird
                            </h4>
                            <!--h6>
                            For the business
                        </h6-->
                        </div>
                        <div class="price_tag">
                            600 <sup>€</sup>
                        </div>
                        <div class="price_features">
                            <!--ul>
                            <li>
                                Early Entrance
                            </li>
                            <li>
                                Front seat
                            </li>
                            <li>
                                Complementary Drinks
                            </li>
                            <li>
                                Promo Gift
                            </li>
                        </ul-->
                        </div>
                        <div class="price_footer">
                            <a href="https://www.weezevent.com/flowcon-2019" class="btn btn-primary btn-rounded">
                                {{ .Params.purchase }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--price section end -->

    <!-- professional training section -->
    {{ with .Site.GetPage "/training" }}{{ .Content }}{{ end }}
    <!-- professional training section end -->

    <!--sponsor section -->
    <a class="anchor" id="sponsoring"></a>
    <section class="pt50 pb50">
        <div class="container">
            <div class="section_title mb50">
                <h3 class="title">
                    {{ .Params.sponsor }}
                </h3>
            </div>
            <div id="platinum-sponsors" class="card">
                <div class="card-body">
                    <h5 class="card-title">Platinum</h5>
                    <div class="row justify-content-center">
                        <div class="col-sm-6 text-center">
                            <figure>
                                <img src="/img/brands/aspark.png" alt="aSpark Consulting">
                                <figcaption>aSpark Consulting</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div id="gold-sponsors" class="card">
                <div class="card-body">
                    <h5 class="card-title">Gold</h5>
                    <div class="row justify-content-center">
                        <div class="col-lg-2 col-sm-4 text-center">
                            <figure>
                                <img src="/img/brands/agile-tribu.png" alt="Agile Tribu">
                                <figcaption>Agile Tribu</figcaption>
                            </figure>
                        </div>
                        <div class="col-lg-2 col-sm-4 text-center">
                            <figure>
                                <img src="/img/brands/cacib.png" alt="Credit Agricole CIB">
                                <figcaption>Credit Agricole CIB</figcaption>
                            </figure>
                        </div>
                        <div class="col-lg-2 col-sm-4 text-center">
                            <figure>
                                <img src="/img/brands/inspearit.png" alt="Inspearit">
                                <figcaption>Inspearit</figcaption>
                            </figure>
                        </div>
                        <div class="col-lg-2 col-sm-4 text-center">
                            <figure>
                                <img src="/img/brands/meritis.png" alt="Meritis">
                                <figcaption>Meritis</figcaption>
                            </figure>
                        </div>
                        <div class="col-lg-2 col-sm-4 text-center">
                            <figure>
                                <img src="/img/brands/wemanity.png" alt="Wemanity">
                                <figcaption>Wemanity</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div id="silver-sponsors" class="card">
                <div class="card-body">
                    <h5 class="card-title">Silver</h5>
                    <div class="row justify-content-center">
                        <div class="col-sm-2 text-center">
                            <figure>
                                <img src="/img/brands/agile-partner.png" alt="Agile Partner">
                                <figcaption>Agile Partner</figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-2 text-center">
                            <figure>
                                <img src="/img/brands/nexeo.png" alt="Nexeo">
                                <figcaption>Nexeo</figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-2 text-center">
                            <figure>
                                <img src="/img/brands/viseo.png" alt="Viseo">
                                <figcaption>Viseo</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <a href="{{ .Params.sponsor_pdf}}" class="mt20 btn btn-primary btn-rounded">
                {{ .Params.sponsor_contact }}
            </a>
        </div>
    </section>
    <!--brands section end-->

    <!--contact section start-->
    <a class="anchor" id="contact"></a>
    <section class="pt50 pb50">
        <div class="container">
            <div class="section_title mb50">
                <h3 class="title">
                    {{ .Params.contact_us_title }}
                </h3>
            </div>
            <div class="row justify-content-center  ">
                <div class="col-md-4 col-12">
                    <div class="contact_info">
                        <h5>
                            {{ .Params.contact_us }}
                        </h5>
                        <p>
                            {{ .Params.contact_us_text }}
                        </p>
                        <ul class="social_list">
                            <li>
                                <a href="https://twitter.com/FlowConFR">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8 col-12">
                    <div class="contact_form">
                        <form action="https://formspree.io/contact@flowcon.fr" method="POST">
                            <input type="text" name="_gotcha" style="display:none" />
                            <input type="hidden" name="_subject" value="Contact on website">
                            <div class="form-group">
                                <input type="text" class="form-control" name="_replyto" placeholder="email" />
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" cols="4" rows="4" name="name"
                                    placeholder="message"></textarea>
                            </div>
                            <div class="form-group text-right">
                                <input type="submit" value="{{ .Params.contact_us_send }}"
                                    class="btn btn-rounded btn-primary"></input>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </section>

    {{ partial "footer.html" . }}