<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>
    <div class="loader">
        <div class="loader-outter"></div>
        <div class="loader-inner"></div>
    </div>

    {{ partial "header.html" . }}

    <section class="workshop-flow pt100 mb50">
        <div class="container">

            <div class="cover">
                <div class="title">
                    <h1>Second Generation Lean Product Development: Applying the Principles of Flow</h1>
                    <h2>A Two-Day Seminar</h2>
                </div>
            </div>

            <div class="jumbotron mt20">
                <h4 class="display-4">Master Class - Principles of Flow</h4>
                <p class="lead">A two-day seminar to learn how to manage and orchestrate development projects following
                    advanced Lean principles with Don Reinertsen</p>
                <hr class="my-4">
                <p>It will be held in Paris, the tuesday 10 and wenesday 11 of december just before Flowcon.</p>
                <p>Contact us if any question by <a href="mailto:flow-workshop-2019@flowcon.fr">email</a> or <a
                        href="/#contact">on
                        the contact form</a></p>
                <p>Pour les français et la formation professionnelle, contactez nous à cette adresse <a
                        href="mailto:flow-workshop-2019@flowcon.fr">flow-workshop-2019@flowcon.fr</a></p>
                <a class="btn btn-primary btn-lg" href="https://www.weezevent.com/applying-the-principles-of-flow"
                    role="button">Take your seat !</a>
            </div>

            <div class="section_title mt50">
                <h3 class="title">
                    Description
                </h3>
            </div>

            <div class="row">

                <div class="col">
                    <p>
                        Many companies are enthusiastically adopting Agile and Lean methods in their product development
                        processes. While some management fashions are temporary, Agile and Lean are likely to persist.
                        Why? They provide <strong> proven, practical way to simultaneously achieve large improvements in
                            the speed, quality, and cost of product development.</strong>
                    </p>
                    <p>
                        But what makes these methods work? What should you pay to remove cycle time from the critical
                        path of programs? How much do you have to lower transaction cost to enable smaller batches? What
                        are the economic consequences of loading engineering to very high levels of utilization?
                    </p>
                    <p>
                        If you want to <strong>beyond the slogans and understand the economics and science behind Agile
                            and Lean</strong>, you may be interested in this workshop. It is taught by the author of the
                        award-winning
                        book, The Principles of Product Development Flow: Second Generation Lean Product Development. It
                        will introduce you to both science and practical methods.
                    </p>

                    <p>
                        It draws upon ideas from a variety of domains including queueing theory, telecommunication
                        network design, computer operating systems, and lean manufacturing.
                    </p>
                    <p>
                        It is intended to provide a solid exposure to some of the many important ideas underlying Agile
                        and Lean methods, including:
                    </p>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <b>Developing an Economic Framework:</b> How to quantify the financial
                            impact of improvements in cycle time, cost, and quality.</li>
                        <li class="list-group-item">
                            <b>Managing Queues:</b> How to control the invisible and unmanaged queues
                            that hurt cycle time, efficiency, and quality.</li>
                        <li class="list-group-item">
                            <strong>Understanding Variability:</strong> How to reduce the economic damage done by
                            variability while keeping the benefits of innovation.</li>
                        <li class="list-group-item"><strong>Reducing Batch Size:</strong> Using batch size reduction as
                            tool to reduce
                            queues and improve feedback.</li>
                        <li class="list-group-item"><strong>Applying WIP Constraints:</strong> How WIP constraints and
                            other WIP control
                            strategies improve cycle time, efficiency and quality.</li>
                        <li class="list-group-item"><strong>Controlling Flow:</strong> Using cadence, synchronization,
                            and work
                            sequencing to improve flow.</li>
                        <li class="list-group-item"><strong>Using Fast Feedback:</strong> How to design feedback and
                            control systems that
                            make a difference.</li>
                        <li class="list-group-item">
                            <strong>Decentralizing Control:</strong> Balancing the advantages of centralized and
                            decentralized control.</li>
                    </ul>
                </div>

            </div>

            <div class="section_title mt50">
                <h3 class="title">
                    Don Reinertsen
                </h3>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <img style="max-height: 200px;" src="/img/workshop-flow/don_reinertsen.jpg" alt="Donald Reinertsen"
                        class="img-thumbnail">
                </div>
                <div class="col-sm-10">
                    <p>
                        Don is the President of Reinertsen &amp; Associates, a consulting firm specialized in the
                        management of product development. He has worked with leading product development
                        organizations for over 30 years, and taught executive courses at Caltech for 14 years. He
                        is the author/co-author of three best-selling books on product development. His latest
                        awarding winning book, The Principles of Product Development Flow: Second
                        Generation Lean Product Development, has been praised as, “… quite simply the most
                        advanced product development book you can buy.”
                    </p>
                </div>
            </div>

            <div class="section_title mt50">
                <h3 class="title">
                    Agenda
                </h3>
            </div>

            <div class="accordion" id="agenda">
                <div class="alert alert-warning" role="alert">
                    Click for details !
                </div>
                <h4>Day 1 AM (0830 to 1200)</h4>
                <div class="card">
                    <div class="card-header" id="module-1-heading">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#module-1"
                                aria-expanded="false" aria-controls="module-1">
                                Module 1 : Introduction to Lean Product Development - 1.0 hour
                            </button>
                        </h2>
                    </div>

                    <div id="module-1" class="collapse" aria-labelledby="module-1-heading" data-parent="#agenda">
                        <div class="card-body">
                            Lean techniques are important to manufacturers because they simultaneously improve cycle
                            time, quality, and efficiency. They have the same promise for product developers, but
                            must be applied in a very different way.
                            For example, in manufacturing all variability is bad. In product development we have
                            both bad variability and the necessary variability associated with trying new ideas. This
                            section will cover:
                            <ul>
                                <li>An overview of how lean techniques improve product development speed, quality, and
                                    cost</li>
                                <li>An understanding of the critical differences between product development and
                                    manufacturing</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="module-2-heading">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#module-2"
                                aria-expanded="false" aria-controls="module-2">
                                Module 2 : Developing an Economic Framework - 2.0 hours
                            </button>
                        </h2>
                    </div>

                    <div id="module-2" class="collapse" aria-labelledby="module-2-heading" data-parent="#agenda">
                        <div class="card-body">
                            Decisions in product development must balance their impact on schedule,
                            quality, and cost. An effective economic framework helps us understand tradeoffs between
                            these objectives. This section will cover:
                            <ul>
                                <li>How to develop an economic framework to assess waste, calculate cost-of-delay,
                                    and analyze queues.</li>
                                <li>How to use economic decision rules to improve decision making.</li>
                                <li>Case problem on project economic model</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h4>Day 1 PM (1300 to 1700)</h4>
                <div class="card">
                    <div class="card-header" id="module-3-heading">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#module-3"
                                aria-expanded="false" aria-controls="module-3">
                                Module 3 : Managing Queues - 1.5 hours
                            </button>
                        </h2>
                    </div>

                    <div id="module-3" class="collapse" aria-labelledby="module-3-heading" data-parent="#agenda">
                        <div class="card-body">
                            Many developers still view product development deterministically, assuming that any
                            excess capacity is waste. In reality, development processes need excess capacity to function
                            optimally in the presence of necessary variability.
                            Using queueing theory we can get strong insights on how to quantify the true cost of
                            process queues. This section will cover:
                            <ul>
                                <li>How to measure queues and quantify their economic impact</li>
                                <li>Case problem on analyzing queues</li>
                                <li>Tools for managing queues</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="module-4-heading">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#module-4"
                                aria-expanded="false" aria-controls="module-4">
                                Module 4 : Understanding Variability - 1.0 hours
                            </button>
                        </h2>
                    </div>

                    <div id="module-4" class="collapse" aria-labelledby="module-4-heading" data-parent="#agenda">
                        <div class="card-body">
                            Variability is a greatly misunderstood concept in product development. Paradoxically,
                            you cannot add value in product development without adding variability, but you can add
                            variability without adding value. A product must be changed to add value, and this
                            involves taking rational risks. This section will cover:
                            <ul>
                                <li>Using option pricing theory to understand the economics of variability</li>
                                <li>The importance of creating payoff asymmetries</li>
                                <li>Creating Antifragility in development processes</li>
                                <li>Information theory and the creation of optimum failure rates</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="module-5-heading">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#module-5"
                                aria-expanded="false" aria-controls="module-5">
                                Module 5 : Reducing Batch Size - 1.5 hours
                            </button>
                        </h2>
                    </div>

                    <div id="module-5" class="collapse" aria-labelledby="module-5-heading" data-parent="#agenda">
                        <div class="card-body">
                            In manufacturing batch size reduction is the single most important factor leading to
                            order of magnitude reductions in cycle time. In contrast, batch size reduction is
                            dramatically underutilized in product development. In this section we will cover:
                            <ul>
                                <li>The importance of small batch size and how to achieve it</li>
                                <li>The ten most common batch size problems in product development</li>
                                <li>Small group work on batch size opportunities.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h4>Day 2 AM (0830 to 1200)</h4>
                <div class="card">
                    <div class="card-header" id="module-6-heading">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#module-6"
                                aria-expanded="false" aria-controls="module-6">
                                Module 6: Applying WIP Constraints - 1.0 hours
                            </button>
                        </h2>
                    </div>

                    <div id="module-6" class="collapse" aria-labelledby="module-6-heading" data-parent="#agenda">
                        <div class="card-body">
                            Queues can form in processes with small batch sizes due to the accumulation of random
                            variances. One of the most practical methods for controlling such queues is the use of
                            WIP constraints. Such constraints require setting control limits and deciding what to do
                            when the limit is breached. This section will cover:
                            <ul>
                                <li>How WIP constraints smooth flow in manufacturing</li>
                                <li>The economic logic behind WIP constraints</li>
                                <li>Various methods of WIP control</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="module-7-heading">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#module-7"
                                aria-expanded="false" aria-controls="module-7">
                                Module 7 : Controlling Flow (Part I): Congestion and Cadence - 1.0 hours
                            </button>
                        </h2>
                    </div>

                    <div id="module-7" class="collapse" aria-labelledby="module-7-heading" data-parent="#agenda">
                        <div class="card-body">
                            Cadence can be used to smooth and synchronize flows in product development, and to lower
                            coordination costs. Yet, many product developers pace their processes with predetermined
                            lists of deliverables and their schedules unravel when any of these deliverables are
                            delayed. This section will cover:

                            <ul>
                                <li>The effects of congestion and how to manage it</li>
                                <li>How a regular cadence reduces variance and improves flow</li>
                                <li>Using cadence in product development processes</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="module-8-heading">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#module-8"
                                aria-expanded="false" aria-controls="module-8">
                                Module 8: Controlling Flow (Part II): Synchronization and Sequencing - 1.5 hours
                            </button>
                        </h2>
                    </div>

                    <div id="module-8" class="collapse" aria-labelledby="module-8-heading" data-parent="#agenda">
                        <div class="card-body">
                            Synchronization can offer another means to prevent the accumulation of variance and to
                            gain scale economies without large batch sizes. The cost of queues depends on what is being
                            delaying in the queue and how long it is delayed. By sequencing work based on economics
                            we can to reduce the cost of queues without reducing the size of queues.
                            <ul>
                                <li>How synchronization reduces product development queues</li>
                                <li>Why non-homogeneous flows need different sequencing strategies</li>
                                <li>How to base sequencing on economics</li>
                                <li>The use of Weighted Shortest Job First (WSJF) prioritization</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h4>Day 2 PM (1300 to 1630)</h4>
                <div class="card">
                    <div class="card-header" id="module-9-heading">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#module-9"
                                aria-expanded="false" aria-controls="module-9">
                                Module 9: Using Fast Feedback - 1.0 hours
                            </button>
                        </h2>
                    </div>

                    <div id="module-9" class="collapse" aria-labelledby="module-9-heading" data-parent="#agenda">
                        <div class="card-body">
                            Many product developers strive to create a development process that does not require
                            feedback. Yet, fast feedback loops actually create spectacular opportunities to smooth flow
                            and attain quality levels that far exceed those of processes that try to “do it right the
                            first time.”
                            This section will cover:
                            <ul>
                                <li>Why fast feedback is critical</li>
                                <li>How feedback permits development processes to reduce the effect of variability</li>
                                <li>Managing the product payload dynamically</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="module-10-heading">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#module-10"
                                aria-expanded="false" aria-controls="module-10">
                                Module 10: Decentralizing Control - 1.0 hour
                            </button>
                        </h2>
                    </div>

                    <div id="module-10" class="collapse" aria-labelledby="module-10-heading" data-parent="#agenda">
                        <div class="card-body">
                            Fast responses to random variation require decentralized control. However, decentralized
                            control can lead to misalignment. Some of the most advanced methods for achieving aligned
                            decentralized
                            control are found in the military. This section will cover:

                            <ul>
                                <li>Why decentralized control is so critical</li>
                                <li>Decentralization lessons learned in the military</li>
                                <li>Maintaining alignment without micromanagement</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="module-11-heading">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#module-11"
                                aria-expanded="false" aria-controls="module-11">
                                Module 11: Planning Implementation and Q&A - 1.5 hour
                            </button>
                        </h2>
                    </div>

                    <div id="module-11" class="collapse" aria-labelledby="module-11-heading" data-parent="#agenda">
                        <div class="card-body">
                            The final section will review factors that are likely to lead to successful implementation.
                            Course participants will begin designing a plan for implementation. This section will cover:

                            <ul>
                                <li>How to initiate pilot programs and scale them up</li>
                                <li>Developing a plan for immediate next steps</li>
                                <li>Final questions and answers</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="jumbotron mt20">
                <h4 class="display-4">Master Class - Principles of Flow</h4>
                <p class="lead">A two-day seminar to learn how to manage and orchestrate development projects following
                    advanced Lean principles with Don Reinertsen</p>
                <hr class="my-4">
                <p>It will be held in Paris, the tuesday 10 and wenesday 11 of december just before Flowcon.</p>
                <p>Contact us if any question by <a href="mailto:contact@flowcon.fr">email</a> or <a href="/#contact">on
                        the contact form</a></p>
                <p>Pour les français et la formation professionnelle, contactez nous à cette adresse <a
                        href="mailto:flow-workshop-2019@flowcon.fr">flow-workshop-2019@flowcon.fr</a></p>
                <a class="btn btn-primary btn-lg" href="https://www.weezevent.com/applying-the-principles-of-flow"
                    role="button">Take your seat !</a>
            </div>

        </div>
    </section>



    {{ partial "footer.html" . }}